@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main Slider */
.keen-slider__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #fff;
  /* background: #ff6600; */
  height: 400px;
}

/* Thumbnail Slider */
.thumbnail .keen-slider__slide {
  height: 80px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s, transform 0.2s;
}